:root {
    --red: #740001;
    --green: #506c31;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient( 115deg, rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.7) ), url('../images/icons-2.png');
}

.icon-left{
    position: absolute;
    top: 57%;
}

.icon-right{
    position: absolute;
    top: 57%;
    right: 18%;
}

.promo {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 150px;
    border-radius: 10px;
}